.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;   
  align-items: center;

  font-size: calc(12px + 2vmin);
  color: white;
}


.title {
  background-color: #06ac38;
  font-size: 50px;
}


